<h1>Consulta Buscar Cliente</h1>
{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ text }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

<div class="jumbotron-mt-4">
    <h1 class="display-1 text-center" style="color:crimson; font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        ~SportStore~
    </h1>
    <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bold; text-align: center;">Mostrar compras de un cliente determinado
    </h1>
    <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bold; text-align: center;">A continuación, se le mostrará las 3 primeras compras realizadas
    </h1>

    <form action='/admins/consultaBuscarCliNombre' method="POST">
        <div class="home_title text-center">
            <br>
                <br>
                    <label style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">Nombre

                        <br>
                            <input type="text" name="Nombre" id="Nombre"></label>
                            <br>
                                <br>

                                    <button class="btn btn-primary btn-block" type="submit" style=" background-color:darkslategrey; height:60px; width:300px; font-size:25px;">
                                        <i class="fas fa-question-circle">
                                            Buscar por nombre</i>
                                    </button>

                                    <br>
                                        <br></div>
                                    </form>
                                </br>
                            </br>
                        </br>
                    </label>
                </br>
            </br>
        </div>
    </form>
</div>

<div class="row" style="font-family: 'Times New Roman', Times, serif;">
    <br>
        <br>
            {{#if compra1}}
                <div class="col-md-3">
                    <div class="purchase">
                        <div class="body">
                                Nombre del cliente:
                                {{ compra1.Cliente }}
                            </h5>
                            <!-->{{#each products}}
                            <p>Producto:
                                {{ consulta.Productos}}</p>
                            <p>Fecha:
                                {{ consulta.FechaCompra }}</p>
                            {{/each}}<-->
                            <p>Precio final:
                                {{ compra1.precioFinal }}</p>
                            <p>Productos:
                                {{ compra1.productos}}</p>
                            <br>
                                <br></div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if compra2}}
                <div class="col-md-3">
                    <div class="purchase">
                        <div class="body">
                                Nombre del cliente:
                                {{ compra2.Cliente }}
                            </h5>
                            <!-->{{#each products}}
                            <p>Producto:
                                {{ consulta.Productos}}</p>
                            <p>Fecha:
                                {{ consulta.FechaCompra }}</p>
                            {{/each}}<-->
                            <p>Precio final:
                                {{ compra2.precioFinal }}</p>
                            <p>Productos:
                                {{ compra2.productos}}</p>
                            <br>
                                <br></div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
             {{#if compra3}}
                <div class="col-md-3">
                    <div class="purchase">
                        <div class="body">
                                Nombre del cliente:
                                {{ compra3.Cliente }}
                            </h5>
                            <!-->{{#each products}}
                            <p>Producto:
                                {{ consulta.Productos}}</p>
                            <p>Fecha:
                                {{ consulta.FechaCompra }}</p>
                            {{/each}}<-->
                            <p>Precio final:
                                {{ compra3.precioFinal }}</p>
                            <br>
                            <p>Productos:
                                {{ compra3.productos }}</p>
                            <br>
                                <br></div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </br>
    </br>
</div>   
                
                

