<div class="jumbotron-mt-4">
  <h1 class="display-1 text-center"
    style="color:crimson; font-family: 'Times New Roman', Times, serif; font-weight: bold;">
    ~SportStore~
  </h1>
  <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bold; text-align: center;">
    Productos
    adquiridos
  </h1>
</div>
<br />
<div class="row" style="font-family: 'Times New Roman', Times, serif;">
  <br />
  <br />
  {{#each Productos}}
  <div class="col-md-3">
    <div class="purchase">
      <div class="body">
        <h5 class="productos"
          style="font-family: 'Times New Roman', Times, serif; font-weight: bold; text-align: center;">
          <i class="fas fa-shopping-bag"></i>
          Producto:
          {{NombreArticulo}}
        </h5>
        <div class="card-body" style="border-radius: 6mm; background-color:#cfd8dc;">
          <!--<p>
                        <i class="fas fa-copyright"> Marca {{Marca}}</i>
                    </p>
                    <p>
                        <i class="fas fa-dollar-sign"> Precio: ₡{{Precio}}</i>
                    </p>
{{#each Deportes}}
                    <p>
                        <i class="fas fa-running"> Deportes: {{Deportes}}</i>
                        <br>
                    </p>
                    {{/each}}                    <p style="font-weight: bold;">
                        <i class="fab fa-old-republic"> ¿Es edición limitada? {{Edicion}}</i>
                    </p>-->
          <p>
            <i class="fas fa-list-ol">
              Unidades vendidas:
              {{Vendidos}}
            </i>
          </p>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
  {{/each}}
</div>
<br />