<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card text-center">
            <div class="card border-primary mb-3 h2">
                <div class="card-header font-italic text-danger">
                    -SportStore-
                </div>
                <div class="card-header font-italic text-info">
                    Registre un producto
                </div>
            </div>
            <div class="card-body">
                <form action="/Products/ProductView" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="NombreArticulo" placeholder="Ingrese el nombre del artículo" value="{{NombreArticulo}}"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Marca" placeholder="Ingrese la marca" value="{{Marca}}"></div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Precio" placeholder="Ingrese el precio del producto" value="{{Precio}}"></div>
                                <div class="form-group">
                                <input type="text" class="form-control" name="Deportes" placeholder="Ingrese el deporte que se usa" value="{{Deportes}}"></div>
                                <div class="form-group">
                                    <select class="ui dropdown" name="Edicion" value="{{Edicion}}">
                                        <option value="">Edición Limitada</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Inventario" placeholder="Unidades disponibles en inventario" value="{{Inventario}}"></div>
                                    <div class="form-group">
                                    <select class="ui dropdown" name="TipoProducto" value="{{TipoProducto}}">
                                        <option value="">Prenda o artículo</option>
                                        <option value="Prenda">Prenda</option>
                                        <option value="Articulo">Artículo</option>
                                    </select>
                                    </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block bg-info">
                                                Registrar Producto
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></div>