<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card text-center">
            <div class="card border-primary mb-3 h2">
                <div class="card-header font-italic text-danger"
                    style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                    -SportStore-
                </div>
                <div class="card-header font-italic text-info"
                    style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                    Registre un producto
                </div>
            </div>
            <div class="centrado">
                <div class="card-body">
                    <form action="/Products/ProductView" method="POST">
                        <div class="form-group">
                            <i class="fas fa-signature"> Nombre del Artículo</i>
                            <input type="text" class="form-control" name="NombreArticulo"
                                placeholder="Ingrese el nombre del artículo" value="{{NombreArticulo}}"
                                style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                        </div>
                        <div class="form-group">
                            <i class="fas fa-copyright"> Marca</i>
                            <select class="form-select" aria-label="Default select example" name="Marca"
                                value="{{Marca}}"
                                style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                                <option value="">Marca</option>
                                <option value="Adidas">Adidas</option>
                                <option value="Asics">Asics</option>
                                <option value="Billa Bong">Billa Bong</option>
                                <option value="Callaway">Callaway</option>
                                <option value="Converse">Converse</option>
                                <option value="DC">DC</option>
                                <option value="Diadora">Diadora</option>
                                <option value="Everlast">Everlast</option>
                                <option value="Fila">Fila</option>
                                <option value="Flash">Flash</option>
                                <option value="Fox">Fox</option>
                                <option value="Kappa">Kappa</option>
                                <option value="Le Coq Sportif">Le Coq Sportif</option>
                                <option value="Lotto">Lotto</option>
                                <option value="Montagne">Montagne</option>
                                <option value="New Balance">New Balance</option>
                                <option value="Nike">Nike</option>
                                <option value="ONeill">ONeill</option>
                                <option value="Puma">Puma</option>
                                <option value="Quick Silver">Quick Silver</option>
                                <option value="Rebook">Rebook</option>
                                <option value="Reef">Reef</option>
                                <option value="Roxy">Roxy</option>
                                <option value="Salomon">Salomon</option>
                                <option value="Speedo">Speedo</option>
                                <option value="Umbro">Umbro</option>
                                <option value="Under Armour">Under Armour</option>
                                <option value="Uniqlo">Uniqlo</option>
                                <option value="Vans">Vans</option>
                                <option value="Venum">Venum</option>
                                <option value="Wilson">Wilson</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-dollar-sign"> Precio</i>
                            <input type="text" class="form-control" name="Precio"
                                placeholder="Ingrese el precio del producto" value="{{Precio}}"
                                style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                        </div>
                        <!--<div class="form-group">
                                <input type="text" class="form-control" name="Deportes" placeholder="Ingrese el deporte que se usa" value="{{Deportes}}"></div>-->
                        <div class="form-group">
                            <b>
                                <i class="fab fa-old-republic"> ¿Es edición limitada?</i>
                            </b>
                            <select class="form-select" aria-label="Default select example" name="Edicion"
                                value="{{Edicion}}"
                                style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                                <option value="">Edición Limitada</option>
                                <option value="Sí">Sí</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-list-ol"> Cantidad</i>
                            <input type="text" class="form-control" name="Inventario"
                                placeholder="Unidades disponibles en inventario" value="{{Inventario}}"
                                style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                        </div>
                        <div class="form-group">
                            <i class="fas fa-tshirt"> ¿Prenda? </i> <i class="fas fa-shopping-bag"> ¿Artículo?</i>
                            <select class="form-select" aria-label="Default select example" name="TipoProducto"
                                value="{{TipoProducto}}"
                                style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                                <option value="">Prenda o artículo</option>
                                <option value="Prenda">Prenda</option>
                                <option value="Articulo">Artículo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="file" name="Imagen" id="Imagen" accept="image/png, imagen/jpeg" value="{{Imagen}}"> 
                        </div>    
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block bg-info"
                                style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                                Registrar Producto
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>