<div class="container">
    <div class="card border-primary mb-3 h2" style="text-align: center;">
        <div class="card-header font-italic text-danger"
            style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
            ~ SportStore ~
        </div>
        <div class="card-header font-italic text-info"
            style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
            <i class="fas fa-shopping-cart"> </i>
            Carrito Compras de {{user.name}}
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    <div class="row" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        <!--Formulario -->
        <div class="col -md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/compras/carritoVista" method="POST">
                        <!--Campos de texto y botones -->
                        <div>
                            <button type="submit" class="btn btn-primary btn-block btn-info" style="color: aliceblue;">
                                <i class="fas fa-eye"> Mostrar productos</i>
                            </button>
                        </div>
                        <br>
                        <div class="form-group">
                            <center>
                                <button type="button" class="btn btn-primary btn-block">
                                    <a href="/mostrar/precioFinal" style="color: aliceblue;">
                                        <i class="fas fa-check"> Finalizar compra</i>
                                    </a>
                                </button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p></p>
    <p></p>
    <p></p>
    </hr>
    <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bold; text-align: center;">Productos agregados
    </h1>
    <!--Tabla que muestra los datos -->
    <br><br>
    <div class="row" style="font-family: 'Times New Roman', Times, serif;">
        <br><br>
        {{#each Todos}}
        <div class="col-md-3">
            <div class="purchase">
                <div class="body">
                    <div class="card-body" style="border-radius: 6mm; background-color:#cfd8dc;">
                        <p>
                            <i class="fas fa-barcode"> Producto: {{ProductoCompra}}</i>
                        </p>
                        <p>
                            <i class="fas fa-list-ol"> Cantidad: {{Cantidad}}</i>
                        </p>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <br><br><br>

    <!--<div class="row" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
        {{#each Todos}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Producto:
                        {{ ProductoCompra }}</h6>
                    <h6 class="card-title">Cantidad:
                        {{ Cantidad }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    {{/each}}-->
</div>