<br><br>
<center>
    <h4 style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">Historial de Compras de {{user.name}}
    </h4>
</center>

<br><br>
<div class="row" style="font-family: 'Times New Roman', Times, serif;">
    <br><br>
    {{#each comprasHist}}
    <div class="col-md-3">
        <div class="purchase">
            <div class="body">
                <h5 class="clienteHistoria"
                    style="font-family: 'Times New Roman', Times, serif; font-weight: bold; text-align: center;">
                    Cliente: {{cliente}}
                </h5>
                <div class="card-body" style="border-radius: 6mm; background-color:#cfd8dc;">
                    <p style="text-align: center;">
                        <i class="fas fa-barcode"> Detalle de la compra</i> <i class="fas fa-barcode"></i>
                    </p>
                    {{#each products}}
                    <p>
                        <i class="fas fa-shopping-bag"> FechaCompra: {{FechaCompra}}</i>
                    </p>
                    <p>
                        <i class="fas fa-shopping-bag"> Producto: {{ProductoCompra}}</i>
                    </p>
                    <p>
                        <i class="fas fa-list-ol"> Cantidad: {{Cantidad}}</i>
                    </p>
                    <p>
                        <i class="fas fa-dollar-sign"> Precio unitario: ₡ {{unitPrice}}</i>
                    </p>
                    <p>
                        <img src="{{Imagen}}" alt="">
                    </p>    
                    {{/each}}
                </div>
                <p style="text-align: center; font-weight: bold;">Total: ₡ {{precioFinal}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<br><br><br>